html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
i {
    cursor: pointer;
}
button {
    border: none;
    background-color: transparent;
    outline: none;
    display: none;
}

#dictionarySearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

h1 {
    font-size: 2rem;
}

input {
    width: 50%;
    padding: 10px 37px;
    max-width: 300px;
}

label i {
    position: absolute;
    padding: 10px;
    min-width: 50px;
    cursor: default;
}

#searchResults {
    background-color: #4361ee;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin-top: 60px;
}

.listen {
    font-size: 1.5rem;
}

#volume {
    color: white;
}

.result {
    width: 50%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.content {
    width: 50%;
}

#firstResult {
    margin-top: 80px;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}